.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f5f5f5;
  height: 4496px;
  position: relative;
  overflow: hidden;
}
.shapka {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #a4cad5;
  width: 1980px;
  height: 139px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-4 {
  width: 633.88px;
  height: 24px;
  position: static;
}
.div2 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 891px;
  top: 35px;
  width: 105.88px;
}
.div3 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 673.75px;
  top: 35px;
  width: 78.38px;
}
.div4 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1115.12px;
  top: 35px;
  width: 192.5px;
  height: 19px;
}
.aqua-mystic {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 26.12px;
  top: 13px;
  width: 400.12px;
}
.mdi-light-cart {
  width: 59.12px;
  height: 43px;
  position: absolute;
  left: 1886.5px;
  top: 16px;
  overflow: visible;
}
._7-900-131-36-05-10-00-18-00 {
  color: #792b14;
  text-align: center;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1399.75px;
  top: 25px;
  width: 455.12px;
}
.podval {
  position: absolute;
  inset: 0;
}
.rectangle-52 {
  background: #a4cad5;
  width: 1980px;
  height: 261px;
  position: absolute;
  left: 0px;
  top: 4234px;
}
.group-42 {
  width: 633.88px;
  height: 45.06px;
  position: static;
}
.div5 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 891px;
  top: 4299.72px;
  width: 105.88px;
  height: 45.06px;
}
.div6 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 673.75px;
  top: 4299.72px;
  width: 78.38px;
  height: 45.06px;
}
.div7 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1115.12px;
  top: 4299.72px;
  width: 192.5px;
  height: 35.68px;
}
.aqua-mystic2 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 26.12px;
  top: 4258.41px;
  width: 400.12px;
  height: 107.03px;
}
._7-900-131-36-05-10-00-18-002 {
  color: #792b14;
  text-align: center;
  font-family: "Jura-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1399.75px;
  top: 4280.94px;
  width: 455.12px;
  height: 90.13px;
}
.logos-telegram {
  width: 88px;
  height: 64px;
  position: absolute;
  left: 31.62px;
  top: 4334px;
  overflow: visible;
}
.logos-whatsapp-icon {
  width: 86.67px;
  height: 64px;
  position: absolute;
  left: 136.12px;
  top: 4333px;
  overflow: visible;
}
.cib-vk {
  width: 88px;
  height: 64px;
  position: absolute;
  left: 363px;
  top: 4333px;
  overflow: visible;
}
.skill-icons-instagram {
  width: 88px;
  height: 64px;
  position: absolute;
  left: 248.88px;
  top: 4332px;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.skidka {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: #a4cad5;
  width: 1980px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 139px;
}
._50-50 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 110px;
  top: 139px;
  width: 1980px;
  height: 50.77px;
}
.tovar {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 1394px;
  height: 703.05px;
  position: absolute;
  left: 293px;
  top: 2281px;
}
.tsvet-butylka-1 {
  border-radius: 20px;
  width: 235.91px;
  height: 559.87px;
  position: absolute;
  left: 351.98px;
  top: 2352.59px;
  object-fit: cover;
}
.aqua-mystic3 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 644.72px;
  top: 2352.59px;
  width: 769.92px;
  height: 60.9px;
}
.group-7 {
  width: 321.69px;
  height: 61.97px;
  position: static;
}
.rectangle-9 {
  background: #792b14;
  border-radius: 50px;
  width: 321.69px;
  height: 61.97px;
  position: absolute;
  left: 700px;
  top: 2869px;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 754.69px;
  top: 2876.48px;
  width: 212.32px;
  height: 45.94px;
}
.group-8 {
  width: 399.97px;
  height: 61.97px;
  position: static;
}
.rectangle-92 {
  background: #792b14;
  border-radius: 50px;
  width: 399.97px;
  height: 61.97px;
  position: absolute;
  left: 1109px;
  top: 2868px;
}
.div9 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1163.69px;
  top: 2875.48px;
  width: 303.46px;
  height: 45.94px;
}
.div10 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 293px;
  top: 2173px;
  width: 198.71px;
}
.group-9 {
  width: 532.91px;
  height: 305.71px;
  position: static;
}
.div11 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 795.16px;
  top: 2438px;
  width: 487.53px;
  height: 63.76px;
}
.div12 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 794px;
  top: 2501.76px;
  width: 527.09px;
  height: 63.76px;
}
.bluetooth {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 794px;
  top: 2565.52px;
  width: 532.91px;
  height: 63.76px;
}
.div13 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 796.33px;
  top: 2629.28px;
  width: 494.51px;
  height: 63.76px;
}
.group-10 {
  width: 190px;
  height: 50.71px;
  position: static;
}
.div14 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 798px;
  top: 2693px;
  width: 188px;
  height: 36.71px;
}
.arrow-1 {
  width: 190px;
  height: 0px;
  position: absolute;
  left: 796px;
  top: 2743.71px;
  overflow: visible;
}
._4000 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 794px;
  top: 2768px;
  width: 216.78px;
}
.kontacti {
  position: absolute;
  inset: 0;
}
.div15 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 293px;
  top: 3205px;
  width: 241px;
}
.tanya {
  width: 344.12px;
  height: 703px;
  position: static;
}
.rectangle-82 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 344.12px;
  height: 703px;
  position: absolute;
  left: 293px;
  top: 3310px;
}
.eh-5-kljm-14-i-a-1 {
  border-radius: 20px;
  width: 291px;
  height: 444px;
  position: absolute;
  left: 320px;
  top: 3368px;
  object-fit: cover;
}
.group-72 {
  width: 228.73px;
  height: 62px;
  position: static;
}
.rectangle-93 {
  background: #792b14;
  border-radius: 50px;
  width: 228.73px;
  height: 62px;
  position: absolute;
  left: 353.79px;
  top: 3921px;
}
.div16 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 403.39px;
  top: 3928px;
  width: 130.44px;
  height: 46px;
}
.egor {
  width: 344.12px;
  height: 703px;
  position: static;
}
.rectangle-10 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 344.12px;
  height: 703px;
  position: absolute;
  left: 1342.88px;
  top: 3310px;
}
.u-yw-8-r-3-p-vp-dw-1 {
  border-radius: 20px;
  width: 292px;
  height: 458px;
  position: absolute;
  left: 1369px;
  top: 3368px;
  object-fit: cover;
}
.rectangle-94 {
  background: #792b14;
  border-radius: 50px;
  width: 228.73px;
  height: 62px;
  position: absolute;
  left: 1406.76px;
  top: 3921px;
}
.div17 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1456.36px;
  top: 3928px;
  width: 130.44px;
  height: 46px;
}
.sofa {
  width: 344.12px;
  height: 703px;
  position: static;
}
.rectangle-95 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 344.12px;
  height: 703px;
  position: absolute;
  left: 828.76px;
  top: 3310px;
}
.jm-we-7-lr-uk-e-1 {
  border-radius: 20px;
  width: 305px;
  height: 459px;
  position: absolute;
  left: 849px;
  top: 3360px;
  object-fit: cover;
}
.group-82 {
  width: 228.73px;
  height: 62px;
  position: static;
}
.rectangle-96 {
  background: #792b14;
  border-radius: 50px;
  width: 228.73px;
  height: 62px;
  position: absolute;
  left: 880.27px;
  top: 3928px;
}
.div18 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 929.88px;
  top: 3935px;
  width: 130.44px;
  height: 46px;
}
.blog {
  position: absolute;
  inset: 0;
}
.rectangle-83 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 344.12px;
  height: 703px;
  position: absolute;
  left: 293px;
  top: 1235px;
}
.rectangle-102 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 344.12px;
  height: 703px;
  position: absolute;
  left: 1342.88px;
  top: 1235px;
}
.rectangle-97 {
  background: #c5e2e8;
  border-radius: 20px;
  width: 344.12px;
  height: 703px;
  position: absolute;
  left: 828.76px;
  top: 1235px;
}
.rectangle-98 {
  background: #792b14;
  border-radius: 50px;
  width: 228.73px;
  height: 62px;
  position: absolute;
  left: 353.79px;
  top: 1846px;
}
.div19 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 403.39px;
  top: 1853px;
  width: 130.44px;
  height: 46px;
}
.rectangle-99 {
  background: #792b14;
  border-radius: 50px;
  width: 228.73px;
  height: 62px;
  position: absolute;
  left: 880.27px;
  top: 1853px;
}
.div20 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 929.88px;
  top: 1860px;
  width: 130.44px;
  height: 46px;
}
.rectangle-910 {
  background: #792b14;
  border-radius: 50px;
  width: 228.73px;
  height: 62px;
  position: absolute;
  left: 1406.76px;
  top: 1846px;
}
.div21 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 1456.36px;
  top: 1853px;
  width: 130.44px;
  height: 46px;
}
.div22 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 293px;
  top: 1130px;
  width: 1373px;
}
.hello {
  position: absolute;
  inset: 0;
}
.n-dq-hsw-6-h-iu-we-qe-h-5-p-2-h-fy-f-cc-f-pw-83-gg-xg-mv-e-a-6-f-tbin-w-4-bub-dfyyc-ssh-hg-8-tuo-s-19-oe-9-abfd-ytykp-zs-9-eaq-vvg-1 {
  border-radius: 50px;
  width: 1347px;
  height: 541px;
  position: absolute;
  left: 316px;
  top: 324px;
  object-fit: cover;
}
.akva {
  border-radius: 36px;
  width: 227.51px;
  height: 192.84px;
  position: absolute;
  left: 876.17px;
  top: 402.04px;
  object-fit: cover;
}
.aqua-mystic4 {
  color: #792b14;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 96px;
  font-weight: 700;
  position: absolute;
  left: 692px;
  top: 599px;
  width: 596px;
  height: 104px;
}
.group-3 {
  width: 429px;
  height: 48px;
  position: static;
}
.rectangle-7 {
  background: #792b14;
  border-radius: 50px;
  width: 429px;
  height: 48px;
  position: absolute;
  left: 786px;
  top: 801px;
}
.div23 {
  color: #ffffff;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 832px;
  top: 801px;
  width: 356px;
  height: 32px;
}
.div24 {
  color: #92523c;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 328px;
  top: 733px;
  width: 1324px;
  height: 38px;
}
